<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pidan.mapper.UserMessageMapper">

    <resultMap id="BaseResultMap" type="com.pidan.model.entity.UserMessage">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fromName" column="fromName" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="toName" column="toName" jdbcType="VARCHAR"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,fromName,message,
        toName,updateTime
    </sql>
</mapper>
